<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" title="Cool stylesheet" href="/WebDevTutorial/style.css">
  <script src="/WebDevTutorial/main.js"></script>
<title>React Lessons</title>
</head>
<body onload='prepPage()'>
<div w3-include-html="/WebDevTutorial/common/menu.html"></div>
<div class='NavBar' id='navBar1'></div>
<section>
  <h1>Course Into and Syllabus</h1>
  <p>
    Welcome to the ReactJS course.  Throughout this course you can use the "Previous" and "Next" buttons for easy navigation between lessons.
    The menu on the top left includes a list of the topics so you can jump around as needed.<br /><br />

    A list of the topics we'll cover is below.  When you're ready please click Next to proceed.
  </p>

  <div w3-include-html="/WebDevTutorial/common/react-all-lessons.html"></div>

</section>
<div class='NavBar' id='navBar2'></div>
<script>
includeHTML();
</script>
</body>
</html>
