<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" title="Cool stylesheet" href="/WebDevTutorial/style.css">
  <script src="/WebDevTutorial/main.js" type="text/javascript"></script>
<title>Template Page</title>
</head>
<body onload='prepPage()'>
<div w3-include-html="/WebDevTutorial/common/menu.html"></div>
<div class='NavBar' id='navBar1'></div>
<section>
  <h1>Course Into and Syllabus</h1>
  <p>
    Welcome to the ReactJS course.  Throughout this course you can use the "Previous" and "Next" buttons for easy navigation between lessons.
    The menu on the top left includes a list of the topics so you can jump around as needed.<br /><br />

    A list of the topics we'll cover is below.  When you're ready please click Next to proceed.
  </p>
  <ol type='1' class='courseList'>
    <li><a href='/WebDevTutorial/view/react/index.html' title='Section 1 React Introduction'>React Introduction</a>
      <ol type='a'>
        <li>
          What is React?
        </li>
        <li>
          Why use React?
        </li>
        <li>
          Local Environment Setup
        </li>
        <li>
          Import React and ReactDOM
        </li>
        <li>
          ReactDOM.render()
        </li>
        <li>
          Quiz
        </li>
      </ol>
    </li>
    <li>JSX Overview
      <ol type='a'>
        <li>
          What is JSX?
        </li>
        <li>
          Rendering JSX
        </li>
        <li>
          JavaScript and JSX
        </li>
        <li>
          JSX vs HTML highlights
        </li>
        <li>
          Quiz or Exercise
        </li>
      </ol>
    </li>
    <li>React Components
      <ol type='a'>
        <li>
          What is a component?
        </li>
        <li>
          Creating a basic component
        </li>
        <li>
          Practicing with components
        </li>
        <ol type='i'>
          <li>
            Multiple JSX Lines
          </li>
          <li>
            Variable Attributes
          </li>
          <li>
            Logic and Conditions
          </li>
          <li>
            Event Listeners
          </li>
        </ol>
        <li>
          this.props()
          </li>
          <li>
            this.state()
          </li>
          <li>
            Quiz or Exercise
          </li>
      </ol>
    </li>
    <li>Final project Challenge
      <ol type='a'>
        <li>
          Project requirements
        </li>
        <li>
          project resources
        </li>
        <li>
          Completed project sample
        </li>
      </ol>
    </li>
    <li>
      Course Resources
    </li>
    <li>
      Glossary/Index
    </li>
  </ol>
</section>
<div class='NavBar' id='navBar2'></div>
</body>
<script>
includeHTML();
</script>
</html>
