<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" title="Cool stylesheet" href="/WebDevTutorial/style.css">
  <script src="/WebDevTutorial/main.js" type="text/javascript"></script>
<title>Template Page</title>
</head>
<body onload='prepPage()'>
<div w3-include-html="/WebDevTutorial/common/menu.html"></div>
<div class='NavBar' id='navBar1'></div>
<section>
</section>
<div class='NavBar' id='navBar2'></div>
</body>
<script>
includeHTML();
</script>
</html>
