<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" title="Cool stylesheet" href="/WebDevTutorial/style.css">
  <script src="/WebDevTutorial/main.js" type="text/javascript"></script>
<title>React Intro</title>
</head>
<body onload='prepPage()'>
<div w3-include-html="/WebDevTutorial/common/menu.html"></div>
<div class='NavBar' id='navBar1'></div>
<section>
  <h1>React Introduction</h1>
  <p>
    In this Mini-Course you'll go over the following sections.  Go to the next page to begin.
  </p>
    <ol type='a'>
      <li>
        What is React?
      </li>
      <li>
        Why use React?
      </li>
      <li>
        Local Environment Setup
      </li>
      <li>
        Import React and ReactDOM
      </li>
      <li>
        ReactDOM.render()
      </li>
      <li>
        Quiz
      </li>
    </ol>
</section>
<div class='NavBar' id='navBar2'></div>

</body>
<script>
includeHTML();
</script>
</html>
