<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" title="Cool stylesheet" href="/WebDevTutorial/style.css">
  <script src="/WebDevTutorial/main.js"></script>
<title>React Intro</title>
</head>
<body onload='prepPage()'>
<div w3-include-html="/WebDevTutorial/common/menu.html"></div>
<div class='NavBar' id='navBar1'></div>
<section>
  <h1>Section 1: React Introduction</h1>
  <p>
     Here is a list of topics we're start with.
  </p>
  <!-- <ol type='a'>
    <li>
      <a href='/WebDevTutorial/view/react/r1-1.html' title='Section 1 Lesson 1'>What is React?</a>
    </li>
    <li>
      <a href='/WebDevTutorial/view/react/r1-2.html' title='Section 1 Lesson 2'>Why use React?</a>
    </li>
    <li>
      <a href='/WebDevTutorial/view/react/r1-3.html' title='Section 1 Lesson 3'>Local Environment Setup</a>
    </li>
    <li>
      <a href='/WebDevTutorial/view/react/r1-4.html' title='Section 1 Lesson 4'>import, React and ReactDOM</a>
    </li>
    <li>
      <a href='/WebDevTutorial/view/react/r1-5.html' title='Section 1 Lesson 5'>ReactDOM.render()</a>
    </li>
    <li>
      <a href='/WebDevTutorial/view/react/r1-6.html' title='Section 1 Lesson 6'>Quiz</a>
    </li>
  </ol> -->
  <div w3-include-html="/WebDevTutorial/common/react-lessonsl1.html"></div>
  <p>
    Please use the next button to begin.
  </p>
</section>
<div class='NavBar' id='navBar2'></div>

<script>
includeHTML();
</script>
</body>
</html>
