<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" title="Cool stylesheet" href="/WebDevTutorial/style.css">
  <script src="/WebDevTutorial/main.js" type="text/javascript"></script>
<title>What is React?</title>
</head>
<body onload='prepPage()'>
<div w3-include-html="/WebDevTutorial/common/menu.html"></div>
<div class='NavBar' id='navBar1'></div>
<section>
  <h1>Section 1: React Introduction</h1>
  <h2>What is React?</h2>
    <p>
      React or ReactJS is a web development library based on JavaScript.  The purpose of React is to simplify the building
      of dynamic webpages; with a focus on front-end development.  Engineers at Facebook started development on more efficient ways
      to maintain their website around 2011 (depending on what you consider part of React).  This eventually led to the development,
      and thankfully open-sourcing, of React in 2013.<br /><br />

      Despite the relatively short number of years since it's development, React is quckly becomming a popular tool among front-end web developers.
      Although not required for web development, if your goal is to become a web developer (especially on the front-end) this
      and similar courses come highly recommended.
    </p>
</section>
<div class='NavBar' id='navBar2'></div>

</body>
<script>
includeHTML();
</script>
</html>
