<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" title="Cool stylesheet" href="/WebDevTutorial/style.css">
  <script src="/WebDevTutorial/main.js" type="text/javascript"></script>
<title>Local Env Setup</title>
</head>
<body onload='prepPage()'>
<div w3-include-html="/WebDevTutorial/common/menu.html"></div>
<div class='NavBar' id='navBar1'></div>
<section>
  <h1>Section 1: React Introduction</h1>
  <h2>Local Environment Setup</h2>
  <p>
    Now get get to start the real fun!  There are a few methods to setting up a local environment to learn React.  What's important to understand
    is that React is a server side framework.  It's also important to know that, as with other frameworks, React is actually not understood by any browsers.
    <br /><br />To successfully implement React you're going to need to have a local install which will act as your server.  One way of doing this
    is to find, download, and install, each of the required frameworks used by React.  Depending on the version installed the plugins required can vary as well.
    <br /><br />
    To simplify our course we'll be installing React by utilizing a handy pre-built package as detailed below.
    <ol class='tutorialLists'>
      <li>
        <strong>Download and Install <a href='https://nodejs.org/en/' title='NodeJS'>NodeJS</a></strong><br />
        The package for our next step requires npm.  Since NodeJs includes npm I've included this as our first step.  If you already have npm working in your environment you can skip step 1.
        <br /><br />The version I'll be using for this tutorial is 10.15.3 LTS.  It is generally recommend you stick with the current recommended version,
        but if you have trouble and need an old version you can check <a href='/WebDevTutorial/view/react/r5-0.html' title='Download here'>here</a>.<br />
      </li><br />
      <li>
        <strong>Prepare a "creator" command</strong><br />
        Open up the shell for your computer, in Windows this would be Powershell or command prompt.
        Issue this command (or the appropriate command for your OS for creating global variables). <br /><br /> <i>npm install -g create-react-app</i> <br /><br />
        This will create a global variable/command that can be used to create a skeleton react application with ease.
      </li><br />
      <li>
        <strong>Install React Developer Tools</strong> (highly recommended)<br />
        As was mentioned previously the browser doesn't understand ReactJS.  This can make it difficult to troubleshoot when a page isn't working as expecting.
        To assist us in this course I recommend installing React Developer Tools.  <br /><br />The tool can be found on <a href='https://github.com/facebook/react-devtools' title='Github React Dev Tools'>Github</a>.
        If you're using <a href='https://www.google.com/chrome/' title='Google Chrome'>Google Chrome</a> then you can simply install the extension
        <a href='https://chrome.google.com/webstore/detail/react-developer-tools/fmkadmapgofadopljbjfkapdkoienihi' title='Chrome React Dev Tools Extension'>
          here</a>.
      </li><br />
      <li>
        <strong>Create a React App</strong><br />
        Navigate to the directory just above where you want your React App to be located.  From there type the following command.<br /><br />

        <i>create-react-app myapp</i><br /><br />

        This command can take several minutes to execute.  It goes through all the downloads to setup a skeleton React application.  "myapp" will become the
        root directory of your app and will exist in a folder directly below the directory the command is executed in.
      </li><br />
      <li>
        <strong>Starting you App</strong><br />
        When the install is finished you should see something like the following.<br />
        <img class='tutorialImg' src='/WebDevTutorial/common/media/images/r1-3-ReactAppCreated.png' /><br />
        (Your version may differ)<br /><br />
        We'll wrap up this section by starting our app for the first time.  To do this navigate into the "myapp" directory in your shell.  Then run the following command.
        <br /><br />
        <i>npm start</i>
        <br /><br />
        If successful npm should start the local server environment, display the URLs to connect with, and open your default browser to the default webpage.  An example of the completed page is below.
        <br /><br />
        <img class='tutorialImg' src='/WebDevTutorial/common/media/images/r1-3-ReactAppStartPage.png' /><br />
        Note: To stop the server use CTRL + C (or the equivelant Command +C) cancel command on the shell window and type "Y" to terminate the job.
      </li>
    </ol><br />
    If you got this far CONGRADULATIONS!  Save this page, take a much needed break, and come back when you're ready to continue on the next page.
  </p><br />
</section>
<div class='NavBar' id='navBar2'></div>
</body>
<script>
includeHTML();
</script>
</html>
