<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" title="Cool stylesheet" href="/WebDevTutorial/style.css">
  <script src="/WebDevTutorial/main.js"></script>
<title>JSX Overview</title>
</head>
<body onload='prepPage()'>
<div w3-include-html="/WebDevTutorial/common/menu.html"></div>
<div class='NavBar' id='navBar1'></div>
<section>
  <h1>JSX Overview</h1>
  <p>
    Congradulations on making it through section 1.  In section 2 we'll go over the essentials
    to use JSX.  Though JSX is not required for React, most developers who use React use
    JSX.  This is largely because it makes programming HTML elements much faster and is
    often easier to follow.
<br /><br />
    Here is what you'll be going over.
  </p>
  <ol type='a'>
    <li>
      <a href='/WebDevTutorial/view/react/r2-1.html' title='Section 2 Lesson 1'>What is JSX?</a>
    </li>
    <li>
      <a href='/WebDevTutorial/view/react/r2-2.html' title='Section 2 Lesson 2'>Rendering JSX</a>
    </li>
    <li>
      <a href='/WebDevTutorial/view/react/r2-3.html' title='Section 2 Lesson 3'>JavaScript and JSX</a>
    </li>
    <li>
      <a href='/WebDevTutorial/view/react/r2-4.html' title='Section 2 Lesson 4'>JSX vs HTML highlights</a>
    </li>
    <li>
      <a href='/WebDevTutorial/view/react/r2-5.html' title='Section 2 Lesson 5'>Quiz or Exercise</a>
    </li>
  </ol>
    <p>
      Please use the next button to begin.
    </p>
</section>
<div class='NavBar' id='navBar2'></div>

<script>
includeHTML();
</script>
</body>
</html>
