<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" title="Cool stylesheet" href="/WebDevTutorial/style.css">
  <script src="/WebDevTutorial/main.js" type="text/javascript"></script>
<title>Template Page</title>
</head>
<body onload='prepPage()'>
<div w3-include-html="/WebDevTutorial/common/menu.html"></div>
<div class='NavBar' id='navBar1'></div>
<section>
<h1>Outside Resources</h1>
<h2>Downloads</h2>
<a href='/WebDevTutorial/common/downloads/Windows-node-x64.msi' title='Windows Nodejs x64'>NodeJS Windows 64-bit</a><br />
<a href='/WebDevTutorial/common/downloads/Windows-node-x86.msi' title='Windows Nodejs x86'>NodeJS Windows 32-bit</a><br />
<a href='/WebDevTutorial/common/downloads/node-darwin-x64.tar.gz' title='MacOS Binary Nodejs x64'>MacOS Binary Nodejs 64-bit</a><br />
<a href='/WebDevTutorial/common/downloads/macOSx64node.pkg' title='MacOS Installer NodeJs x64'>MacOS Binary Nodejs 64-bit</a><br />
<a href='/WebDevTutorial/common/downloads/node-linux-x64.tar.xz' title='Linux NodeJS x64'>Linux NodeJS 64-bit</a><br />
<a href='https://github.com/facebook/react-devtools' title='Github React Dev Tools'>Github React Developer Tools</a>
<a href='https://www.google.com/chrome/' title='Google Chrome'>Google Chrome</a>
<a href='https://chrome.google.com/webstore/detail/react-developer-tools/fmkadmapgofadopljbjfkapdkoienihi' title='Chrome React Dev Tools Extension'>Chrome React Developer Tools Extension</a>
<h2>Credits</h2>
<ul>
  <li>
    I want to thank <a href='https://www.codecademy.com/learn/react-101' title='Code Academy React Tutorial'>Code Academy</a> for their free tutorial on ReactJS.  There are a number of deep tutorials out there, but I found their's a particularly
    useful introduction.
  </li>
  <li>
    The method of using create-react-app package to create a skeleton application was taken from the first lesson of a React Tutorial by
    <a href='https://www.sitepoint.com/premium/courses/introduction-to-react-2983/lesson/1/step/1' title='Sitepoint React Tutorial'>Sitepoint</a>.
    Others are availalbe and I recommend becoming familiar with a manual setup, but this seemed best for this course.
  </li>
</ul>

</section>
<div class='NavBar' id='navBar2'></div>
</body>
<script>
includeHTML();
</script>
</html>
